.InputWrap,
.Preview {
  display: inline-block;
  width: 40%;
  overflow-x: auto;
}

.Input {
  padding: 1ex 0;
}

.Pair {
  width: 95%;
  margin: 5px auto;
  border: 1px dashed #ddd;
  padding-bottom: 15px;
}

.Preview {
  position: relative;
}

@media (max-width: 749px){

  .Pair{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }

  .InputWrap,
  .Preview{
    width: 100%;
    height: unset;
    overflow-x: auto;
  }
}
