.Wrap {
  display: grid;
}

.Wrap > div:first-child {
  grid-column-start: 1;
}

.Wrap > div:nth-child(2) {
  grid-column-start: 2;
}

.Wrap > div:nth-child(3) {
  grid-column-start: 3;
}

.Selects > table {
  line-height: 40px;
}

.NotationBtn {
  background: lightblue;
  cursor: pointer;
  font-size: 12pt;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 2px 0 black;
}

.CloseBtn {
  cursor: pointer;
  background: black;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  box-shadow: 2px 2px 2px 0 black;
}

.CopyTexBtn {
  cursor: pointer;
  background: pink;
  padding: 5px;
  margin: 10px;
  box-shadow: 2px 2px 2px 0 black;
}

.PreviewSkrolol {
  display: block;
  overflow-x: auto;
  max-height: max-content;
  margin: 0 15px;
}


/*@media(max-width: 750px){*/

  /*.PreviewSkrolol {*/
    /*display: block;*/
    /*overflow-x: auto;*/
    /*max-height: max-content;*/
  /*}*/

/*}*/
