.ToDo {
  width: 90%;
  margin: 10px auto;
}

.TeX:not(:last-child)::after {
  display: inline-block;
  content: ', ';
  text-align: left;
  width: 4em;
}

@media(max-width: 750px) {
  .FormProizvSkroll{
    display: block;
    overflow-x: auto;
    height: min-content;
  }
}