.Between {
  background: white;
}

.Target {
  border: 2px solid #edf;
  cursor: pointer;
  display: inline-block;
  padding: 4px;
}

.Target.Active {
  background: #edf;
}

.Wrap {
  display: flex;
  flex-direction: row;
}

.TextArea {
  order: 1;
  width: 25%;
}

.TableWrap {
  order: 2;
  width: 15%;
}

.FormWrap {
  order: 3;
  width: 30%;
}

.FormWrapSkroll {
  display: block;
  overflow-x: auto;
  max-height: max-content;
  padding: 6px 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0 15px;
}

.Preview {
  order: 4;
  width: 30%;
}

.Btn {
  cursor: pointer;
  background: lightblue;
  box-shadow: 2px 2px 2px 0 black;
  font-size: 14pt;
  margin: 10px;
  padding: 10px;
}

.RemoveBtn {
  cursor: pointer;
  background: orange;
  color: white;
  padding: 5px;
  margin: 10px;
  font-size: 12pt;
  box-shadow: 2px 2px 2px 0 black;
}

.OkBtn {
  cursor: pointer;
  background: lightgreen;
  font-size: 12pt;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px 0 black;
}

.NameLabelWrap {
  margin: 10px;
}

.NameInput {
  display: inline-block;
  height: 20pt;
}

@media(max-width: 750px){
  .Wrap{
    display: flex;
    flex-direction: column;
  }

  .TableWrapMidle{
    margin: 0 auto;
  }

  .TextArea {
    order: 1;
    width: 100%;
  }

  .TableWrap {
    order: 2;
    width: 100%;
  }

  .FormWrap {
    order: 3;
    width: 100%;
  }

  .Preview {
    order: 4;
    width: 100%;
  }

}
